<%= paginate @products_diff %>

<h1 align='center'>Product Differences - Page <%= @current_page %></h1>

<table id="hor-minimalist-b">
  <tr>
    <th>UPC</th>
    <th>Department</th>
    <th>Vendor</th>
    <th>Description</th>
    <th>Color</th>
    <th>Size</th>
    <th>Cost</th>
    <th>Price</th>
    <th># Scanned</th>
    <th># Available (in QBPOS)</th>
    <th># Adjustment</th>
  </tr>

  <% @products_diff.each do |product| %>
  <tr>
    <td><p class="barcode_font">*<%= product.upc %>*</p></td>
    <td><%= product.department %></td>
    <td><%= product.vendor %></td>
    <td><%= link_to product.description, product_path(product) %></td>
    <td><%= product.color %></td>
    <td><%= product.size %></td>
    <td align='center' class='large'><%= number_to_currency(product.cost) %></td>
    <td align='center' class='large'><%= number_to_currency(product.price) %></td>
    <td align='center' class='large'><%= product.line_items.count %></td>
    <td align='center' class='large'><%= product.on_hand_qty %></td>
    <td align='center' class='large'><%= product.line_items.count - (product.on_hand_qty - product.on_customer_order_qty) %></td>

  </tr>
  <% end %>

</table>