<h2>UPC <%= @product.upc %></h2>

<table border="1" cellpadding="5" width="100%">
  <tr>
    <th>UPC</th>
    <th>Department</th>
    <th>Brand</th>
    <th>Description</th>
    <th>Color</th>
    <th>Size</th>
    <th>Price</th>
    <th># On Hand</th>
    <th># On Cust Order</th>
    <th># Available</th>
    <th># Scanned</th>
    <th>Available - Scanned</th>
    <th>$ Retail Sum</th>
  </tr>

  <tr>
    <td><%= @product.upc %></td>
    <td><%= @product.department %></td>
    <td><%= @product.vendor %></td>
    <td><%= @product.description %></td>
    <td><%= @product.color %></td>
    <td><%= @product.size %></td>
    <td align='right'><%= number_to_currency(@product.price) %></td>
    <td align='right'><%= @product.on_hand_qty %></td>
    <td align='right'><%= @product.on_customer_order_qty %></td>
    <td align='right'><%= @product.on_hand_qty - @product.on_customer_order_qty %></td>
    <td align='right'><%= @product.line_items.count %></td>
   	<td align='right'><%= (@product.on_hand_qty - @product.on_customer_order_qty) - @product.line_items.count %></td>
    <td align='right'><%= number_to_currency(@product.line_items.count * @product.price) %></td>
  </tr>
</table>

<h2>Inventory Location</h2>
<table border="1" cellpadding="5" width="100%">
  <tr>
    <th>Rack</th>
    <th>Shelf</th>
    <th>Quantity</th>
  </tr>
  <% @product_locations.each do |loc| %>
    <tr>
      <td><%= link_to loc.rack, rack_count_path(loc.rack_count_id) %></td>
      <td><%= loc.shelf %></td>
      <td><%= loc.item_count %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Back to Products', products_path %></p>
