<h2>Summary</h2>

<table border='1' cellpadding='5'>
  <tr>
    <th># Counts</th>
    <th>Scanned Items</th>
    <th>Retail $ Counted</th>
  </tr>

  <tr>
    <td><%= @rack_counts.count %></td>
    <td><%= @line_items_overall_sum %></td>
    <td><%= number_to_currency(@product_price_overall_sum) %></td>
  </tr>
</table>

<h2>Details</h2>

<table border='1' cellpadding='5'>
  <tr>
    <th>Rack</th>
    <th>Shelf</th>
    <th>Initials</th>
    <th>Hand Count</th>  
    <th>Scan Count</th>  
  </tr>

<% @rack_counts.each do |rack_count| %>
  <tr>
    <td><%= rack_count.rack %></td>
    <td><%= rack_count.shelf %></td>
    <td><%= rack_count.initials %></td>
    <td><%= link_to rack_count.hand_count.nil? ? "Add" : rack_count.hand_count, add_hand_count_rack_count_path(rack_count) %></td>
    <td><%= link_to rack_count.line_items.count, rack_count_path(rack_count) %></td>
  </tr>
<% end %>

</table>

<p><b> <%= link_to 'Create a new rack', new_rack_count_path %> </b></p>

