
<h1>Racks</h1>

<table cellspacing='10'>
  <tr>
    <th>Rack Number</th>
    <th>Initials</th>
    <th>Comments</th>
    <th># of Items</th>  
    <th>Status</th>  
  </tr>

<% @rack_counts.each do |rack_count| %>
  <tr>
    <td><%= rack_count.rack %></td>
    <td><%= rack_count.initials %></td>
    <td><%= rack_count.comments %></td>
    <td><%= rack_count.line_items.count%></td>
    <td><%= rack_count.state%></td>
  </tr>
<% end %>

</table>

<p><b> <%= link_to 'Create a new rack', new_rack_count_path %> </b></p>

