<% if flash[:errors] && !flash[:errors].empty? then %>
	<h1><%= flash[:errors] %></h1>
<% end %>

<h2>New Scan Count</h2>

<%= simple_form_for @rack_count do |f| %>
  <%= f.input :scan_count_initials %>
  <%= f.input :rack %>
  <%= f.input :shelf %>
<p>
  <%= f.submit 'Add' %>
</p>
<% end %>

<p>* = Required</p>