<script>
window.onload = function() {
	document.getElementById('product_upc').focus();
	}
</script>

<% if flash[:errors] && !flash[:errors].empty? then %>
	<h1><%= flash[:errors] %></h1>
<% end %>

<p><h2>Summary</h2>

<table cellpadding="5" border="1">
<tr><td>Rack</td><td><%= @rack_count.rack %></td></tr>
<tr><td>Shelf</td><td><%= @rack_count.shelf %></td></tr>
<tr><td># Items</td><td><%= @rack_count.line_items.count %></td></tr>
<%= simple_form_for @rack_count do |f| %>
<tr><td>Counter Initials</td><td><table><tr><td><%= f.input :scan_count_initials, :label => false, :input_html => { :size => 7} %></td><td><%= f.submit 'Save' %><% end %></td></tr></table></td></tr>
</table>

<p><h2>Scan Items</h2>
	
<table border="1" cellpadding="5">

  <tr>
	<td colspan='8'>
	<%= form_tag ("/rack_counts/#{@rack_count.id}/add_line_item") do %>
	  <%= text_field_tag :product_upc %>
	  <%= submit_tag 'Add Item' %>
	<% end %>
	</td>
  <tr>

  <tr>
    <th>UPC</th>
    <th>Department</th>
    <th>Vendor</th>
    <th>Description</th>
    <th>Color</th>
    <th>Size</th>
    <th>Price</th>
    <th>Remove</th>
  </tr>
<% @rack_count.line_items.each do |line_item| %>
  <tr>
    <td><%= line_item.product.upc %></td>
    <td><%= line_item.product.department %></td>
    <td><%= line_item.product.vendor %></td>
    <td><%= line_item.product.description %></td>
    <td><%= line_item.product.color %></td>
    <td><%= line_item.product.size %></td>
    <td align='right'><%= number_to_currency(line_item.product.price) %></td>
    <td align='center' width='200'>
	
		<!--Delete button -->
		<%= form_tag ("/rack_counts/#{@rack_count.id}/remove_line_item") do %>
		  <%= hidden_field_tag :line_item_id, line_item.id %>
		  <%= submit_tag 'delete' %>
		<% end %>
	
	
	</td>
  </tr>
<% end %>

</table>
</p>