<% if flash[:errors] && !flash[:errors].empty? then %>
	<h1><%= flash[:errors] %></h1>
<% end %>

<h1>RackCount <%= @rack_count.id %></h1>
<p>Initials: <%= @rack_count.initials %></p>
<p>Rack Number: <%= @rack_count.rack %></p>
<p>Comments: <%= @rack_count.comments %></p>
<table>
  <tr>
    <th>Line Item ID</th>
    <th>UPC</th>
    <th>Description</th>
    <th>Color</th>
    <th>Size</th>
    <th>Price</th>
  </tr>
<% @rack_count.line_items.each do |line_item| %>
  <tr>
    <td><%= line_item.id %></td>
    <td><%= line_item.product.upc %></td>
    <td><%= line_item.product.description %></td>
    <td><%= line_item.product.color %></td>
    <td><%= line_item.product.size %></td>
    <td><%= line_item.product.price %></td>
  </tr>
<% end %>

<%= form_tag ("/rack_counts/#{@rack_count.id}/add_line_item") do %>
  <%= text_field_tag :product_upc %>
  <%= submit_tag :submit %>
<% end %>

<p>
<h2><%= @rack_count.state %></h2>
</p>

<p>

# Change the state of the rack_count to confirmed

	<%= form_tag ("/rack_counts/#{@rack_count.id}/confirm") do %>
	  <%= submit_tag :submit %>
	<% end %>

</p>

</table>
