<!DOCTYPE html>
<html>
<head>
  <title>Top Counter</title>
  <%= stylesheet_link_tag    "application", :media => "print" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body padding-top: 40px;>
  <div class="nav">
    <%= image_tag 'rocky_head.jpg' %>
    <%= link_to 'All Counts', rack_counts_path %> | 
    <%= link_to 'Hand vs. Scan Count', diff_rack_counts_path %> | 
    <%= link_to 'Products', products_path %> |
    <%= link_to 'Products to Adjust', diff_products_path %> |
    <%= link_to 'Dashboard', dashboards_path %>
  </div>
<hr />

<% if flash[:errors] && !flash[:errors].empty? then %>
	<div class="flash error">  
    <%= image_tag 'rocky_no.jpg' %>
    <%= flash[:errors] %>
    <%= image_tag 'rocky_no.jpg' %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
