<!DOCTYPE html>
<html>
<head>
  <title>Top Counter</title>
  <%= stylesheet_link_tag    "application", :media => "print" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body padding-top: 40px;>
<%= image_tag 'john_head.jpg' %>
<%= link_to 'All Counts', rack_counts_path %> | 
<%= link_to 'Hand vs. Scan Count', diff_rack_counts_path %> | 
<%= link_to 'Products', products_path %> |
<%= link_to 'Products to adjust', diff_products_path %>
<hr />

<%= yield %>

</body>
</html>
